RELEASE_TAG=2.25.79
REGISTRY=ghcr.io/nickglezakos/ppl-meta-platform
INSTALL_ROOT=C:/ProgramData/PPLMetaPlatform
AUTHORITY_URL=https://authority.eyenet-vision.com
INSTALLATION_UUID=
APPLICATION_KEY=
NODE_PORT=8001
MEDIA_PORT=8000
GATEWAY_PORT=8080
ORCHESTRATOR_PORT=8002
VISION_PORT=8003
DISCOVERY_PORT=8004
COMMUNICATIONS_PORT=8009
VMETA_PORT=8008
FRONTEND_PORT=3000

POSTGRES_PASSWORD=change-me
POSTGRES_USER=pplmeta
POSTGRES_DB=ppl_db
REDIS_PORT=6379
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
